.page {
  background-color: #192C4B;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: white;
}


.announcement {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: red;
}
