.response {
  display: flex;
  background-color: #32455a;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: white;
}

.question {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.text {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat {
  padding-bottom: 200px;
  width: 100vw;
}

.map {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
